<div class="container-fluid pb-3">
  <div class="row justify-content-center">
    <h1 class="text-center">Generate random <span class="fw-lighter"><i class="bi-bootstrap"></i> Bootstrap</span> pages</h1>
    <div class="col-6">
      <div class="card bg-light shadow">
        <div class="card-body">
          <h3 class="card-title"><i class="bi-gear"></i> Settings</h3>

          <div class="py-3"><hr></div>

          <h5><i class="bi-card-heading"></i> Header</h5>
          <div class="mb-3 row">
            <div class="col-auto">
              <label for="buttonsHeaderMinRange" class="form-label">
                Minimum number of buttons in header:
                <span class="badge rounded-pill bg-danger">
                {{commonData.minNumberOfButtonsInHeader}}
              </span>
              </label>
            </div>
            <div class="col">
              <div class="d-flex justify-content-center">
                <span class="mx-2">1</span>
                <input type="range" class="form-range" min="1" max="6" id="buttonsHeaderMinRange"
                       step="1" [value]="commonData.minNumberOfButtonsInHeader"
                       (change)="checkMaxHeader()" [(ngModel)]="commonData.minNumberOfButtonsInHeader">
                <span class="mx-2">6</span>
              </div>
            </div>            
          </div>
          <div class="mb-3 row">
            <div class="col-auto">
              <label for="buttonsHeaderMaxRange" class="form-label">
                Maximum number of buttons in header: <span class="badge rounded-pill bg-danger">{{commonData.maxNumberOfButtonsInHeader}}</span>
              </label>
            </div>
            <div class="col">
              <div class="d-flex justify-content-center">
                <span class="mx-2">{{commonData.minNumberOfButtonsInHeader}}</span>
                <input type="range" class="form-range" min="{{commonData.minNumberOfButtonsInHeader}}" max="6"
                       id="buttonsHeaderMaxRange" step="1" [value]="commonData.maxNumberOfButtonsInHeader"
                       [(ngModel)]="commonData.maxNumberOfButtonsInHeader">
                <span class="mx-2">6</span>
              </div>
            </div>
          </div>

          <div class="py-3"><hr></div>

          <h5><i class="bi-list"></i> Rows</h5>
          <div class="mb-3 row">
            <div class="col-auto">
              <label for="rowsMinRange" class="form-label">
                Minimum number of rows: <span class="badge rounded-pill bg-danger">{{commonData.minNumberOfRows}}</span>
              </label>
            </div>
            <div class="col">
              <div class="d-flex justify-content-center">
                <span class="mx-2">1</span>
                <input type="range" class="form-range" min="1" max="5" id="rowsMinRange"
                       step="1" [value]="commonData.minNumberOfRows"
                       (change)="checkMaxRows()" [(ngModel)]="commonData.minNumberOfRows">
                <span class="mx-2">5</span>
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <div class="col-auto">
              <label for="rowsMaxRange" class="form-label">
                Maximum number of rows: <span class="badge rounded-pill bg-danger">{{commonData.maxNumberOfRows}}</span>
              </label>
            </div>
            <div class="col">
              <div class="d-flex justify-content-center">
                <span class="mx-2">{{commonData.minNumberOfRows}}</span>
                <input type="range" class="form-range" min="{{commonData.minNumberOfRows}}" max="5" id="rowsMaxRange"
                       step="1" [value]="commonData.maxNumberOfRows" [(ngModel)]="commonData.maxNumberOfRows">
                <span class="mx-2">5</span>
              </div>
            </div>
          </div>

          <div class="py-3"><hr></div>

          <h5><i class="bi-card-text"></i> Cards</h5>
          <div class="mb-3 row">
            <div class="col-auto">
              <label for="cardsMinRange" class="form-label">
                Minimum number of cards per row: <span class="badge rounded-pill bg-danger">{{commonData.minNumberOfCardsPerRow}}</span>
              </label>
            </div>
            <div class="col">
              <div class="d-flex justify-content-center">
                <span class="mx-2">1</span>
                <input type="range" class="form-range" min="1" max="5" id="cardsMinRange"
                       step="1" [value]="commonData.minNumberOfCardsPerRow"
                       (change)="checkMaxCards()" [(ngModel)]="commonData.minNumberOfCardsPerRow">
                <span class="mx-2">5</span>
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <div class="col-auto">
              <label for="cardsMaxRange" class="form-label">
                Maximum number of cards per row: <span class="badge rounded-pill bg-danger">{{commonData.maxNumberOfCardsPerRow}}</span>
              </label>
            </div>
            <div class="col">
              <div class="d-flex justify-content-center">
                <span class="mx-2">{{commonData.minNumberOfCardsPerRow}}</span>
                <input type="range" class="form-range" min="{{commonData.minNumberOfCardsPerRow}}" max="5" id="cardsMaxRange"
                       step="1" [value]="commonData.maxNumberOfCardsPerRow" [(ngModel)]="commonData.maxNumberOfCardsPerRow">
                <span class="mx-2">5</span>
              </div>
            </div>
          </div>

          <div class="py-3"><hr></div>

          <h5><i class="bi-card-checklist"></i> Elements</h5>
          <div class="mb-3 row">
            <div class="col-auto">
              <label for="elementsMinRange" class="form-label">
                Minimum number of elements per card: <span class="badge rounded-pill bg-danger">{{commonData.minNumberOfElementsPerCard}}</span>
              </label>
            </div>
            <div class="col">
              <div class="d-flex justify-content-center">
                <span class="mx-2">1</span>
                <input type="range" class="form-range" min="1" max="5" id="elementsMinRange"
                       step="1" [value]="commonData.minNumberOfElementsPerCard"
                       (change)="checkMaxElements()" [(ngModel)]="commonData.minNumberOfElementsPerCard">
                <span class="mx-2">5</span>
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <div class="col-auto">
              <label for="elementsMaxRange" class="form-label">
                Maximum number of elements per card: <span class="badge rounded-pill bg-danger">{{commonData.maxNumberOfElementsPerCard}}</span>
              </label>
            </div>
            <div class="col">
              <div class="d-flex justify-content-center">
                <span class="mx-2">{{commonData.minNumberOfElementsPerCard}}</span>
                <input type="range" class="form-range" min="{{commonData.minNumberOfElementsPerCard}}" max="5" id="elementsMaxRange"
                       step="1" [value]="commonData.maxNumberOfElementsPerCard" [(ngModel)]="commonData.maxNumberOfElementsPerCard">
                <span class="mx-2">5</span>
              </div>
            </div>
          </div>

          <div class="py-3"><hr></div>

          <h5><i class="bi-arrow-clockwise"></i> Reload</h5>
          <div class="mb-3 row">
            <div class="col-auto">
              <label for="automaticReload" class="form-label">
                Reload the page automatically: <span class="badge rounded-pill bg-danger">{{commonData.automaticReload ? 'Yes' : 'No'}}</span>
              </label>
            </div>
            <div class="col">
              <input type="checkbox" class="form-check-input my-1 mx-2" id="automaticReload" [attr.checked]="commonData.automaticReload"
              [value]="true" [(ngModel)]="commonData.automaticReload">
            </div>
          </div>
          <div class="mb-3 row">
            <div class="col-auto">
              <label for="reloadTimer" class="form-label">
                Reload the page after: 
                <span class="badge rounded-pill" 
                [ngClass]="{'bg-danger' : commonData.automaticReload, 'bg-secondary' : !commonData.automaticReload}">
                  {{commonData.reloadTimer}} seconds
                </span>
              </label>
            </div>
            <div class="col">
              <div class="d-flex justify-content-center">
                <span class="mx-2">4s</span>
                <input type="range" class="form-range" min="4" max="10" id="reloadTimer"
                       step="1" [(ngModel)]="commonData.reloadTimer" [disabled]="!commonData.automaticReload">
                <span class="mx-2">10s</span>
              </div>
            </div>
          </div>

          <div class="py-3"><hr></div>

          <h5><i class="bi-download"></i> Download</h5>
          <div class="mb-3 row">
            <div class="col-auto">
              <label for="savePicture" class="form-label">
                Save a screenshot <span class="fst-italic">(.png)</span> of the page: <span class="badge rounded-pill bg-danger">{{commonData.savePicture ? 'Yes' : 'No'}}</span>
              </label>
            </div>
            <div class="col">
              <input type="checkbox" class="form-check-input my-1 mx-2" id="savePicture" [attr.checked]="commonData.savePicture"
              [value]="true" [(ngModel)]="commonData.savePicture">
            </div>
          </div>
          <div class="mb-3 row">
            <div class="col-auto">
              <label for="saveData" class="form-label">
                Save DSL code <span class="fst-italic">(.gui)</span> used to generate the page: <span class="badge rounded-pill bg-danger">{{commonData.saveData ? 'Yes' : 'No'}}</span>
              </label>
            </div>
            <div class="col">
              <input type="checkbox" class="form-check-input my-1 mx-2" id="saveData" [attr.checked]="commonData.saveData"
              [value]="true" [(ngModel)]="commonData.saveData">
            </div>
          </div>

        </div>
        <div class="card-footer text-end">
          <button class="btn btn-success" (click)="submit()"><i class="bi bi-check2-circle"></i> Generate</button>
        </div>
      </div>
    </div>
  </div>
</div>
