@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css");

body {
  margin: 0;
  padding: 30px;
  width: 1920px;
  height: 1080px;
}
// REPLACING DEFAULT SVG BACKGROUNDS AS THEY CAUSE ERRORS WITH DOM-TO-IMAGE
.form-check-input:checked[type=checkbox] {
  background-image: url("assets/check-solid.png");
  background-size: .55em;
}
.form-check-input:checked[type=radio] {
  background-image: url("assets/circle-solid.png");
  background-size: .55em;
}
